.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: lightblue;
  color: white;
}

.navbar-nav {
  list-style: none;
  display: inline-flex;
}
.nav-links {
  
  cursor: pointer;
}
.nav-links:hover {
  background-color: black;
  opacity: 0.5;
}
a {
  display: block; 
  text-decoration: none;
  color: black;
  padding: 15px 25px;
}

.nav-links:hover a {
  color: white;
}